<header class="bloc-chat-header">
  <h1>Bloc Chat</h1>
</header>

<section class="list-chat-room">
  <div class="add-room-button">
    <h2>Chat List*</h2>
    <button type="button" class="chat-btn" ng-click="home.rooms.creatNewRoom()"><i class="ion-android-chat"></i></button>
  </div>
  <div class="chat-room" ng-repeat="room in home.rooms.list">
    {{room.$value}}
  </div>
</section>
<div class="newRoom-form" ng-show="home.rooms.newRoomForm">
  <form name="newRoomForm">
    <input type="text" class="form-control" ng-model="home.newRoom.$value"/></br>
    <div class="button-group">
      <button type="button" class="btn btn-default" ng-click="home.rooms.add(home.newRoom.$value)"/>Save</button>
      <button type="button" class="btn btn-default" ng-click="home.rooms.newRoomForm = false">Cancel</button>
    </div>
  </form>
</div>
