<section class="list-chat-room">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-demo">
      <form name="newRoomForm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create Room</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <input type="text" class="form-control" ng-model="$ctrl.newRoom.$value"/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
          <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>
  <div class="add-room-button">
    <h2>Chat List*</h2>
    <button type="button" class="chat-btn" ng-click="home.open('sm')"><i class="ion-android-chat"></i></button>
  </div>
  <div class="chat-room" ng-repeat="room in home.rooms.list">
    {{room.$value}}
  </div>
</section>
