<div class="modal-demo">
  <form name="newRoomForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create Name</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <input type="text" class="form-control" ng-model="$ctrl.input"/>
    </div>
    <div class="modal-footer">
      <p>{{$ctrl.input}}</p>
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
